.video-stream {
  float: left;
  border-style: none groove none groove;
  border-color: #868c8e;
}

.user-selection {
  float: right;
}
.page {
  height: 100vh;
  background-color: #3f454f;
  color: #00E676;
}

.navbar-brand {
  color: #00E676 !important;
  font-weight: bold;
}